body{

}

/*CLASS ACTIVE*/
.active{
    background-color: rgba(255, 255, 255, 0.21);
}

a:hover{
    color:#FFC107;
}

.btn-dropdown{
    color: white;
}

.btn-dropdown:hover{
    color: #FFC107;
}

/*SEARCH BAR*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input .fa-search{
    font-size: 18px;
}

#custom-search-input .fa-map-marker-alt{
    font-size: 22px;
    color: #28a745;
}

/*--------- CARROUSEL RESTO D'OR ----------*/


@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*================================================*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
.carousel-item > div {
    float: left;
}
.carousel-by-item [class*="cloneditem-"] {
    display: none;
}
h2{
    text-align:center;
    padding: 20px;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 5rem;
    background-color: green;
    background-size: 100%, 100%;
    border-radius: 50%;

}
#slider-1 {
    display: none;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 768px) {

    #slider-1 {
        display: block;
    }
    .slider-2 {
        display: none;
    }
}


/*----------- STAR RATING ----------------*/
.checked {
    color: orange;
}

/*----------------------
LISTE RESTAURANT Product Card Styles
----------------------*/
.liste-restaurants {
    border-radius: 5px;
    box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.15);
}
.liste-restaurants h3{
    font-size: 20px;
    font-weight: bold;
}

.liste-restaurants address {
    font-size: smaller;
}

.liste-restaurants button  {
    font-size: smaller;
}
.liste-restaurants .open-close{
    font-size: 12px;
}
.liste-restaurants ul {
    padding: 0px;
}
.liste-restaurants ul li {
    font-size: smaller;
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .liste-restaurants h3{
        font-size: 1.4em;
        font-weight: bold;
    }

    .liste-restaurants button {
        font-size: smaller;
    }
    .liste-restaurants .bordure_verticale_liste {
        height: 100%;
        border-left: 1px solid lightgray;
    }
    .liste-restaurants ul li {
        font-size: small;
    }

}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .liste-restaurants button {
        font-size: medium;
    }

    .liste-restaurants .open-close{
        font-size: medium;
    }

    .liste-restaurants ul li {
        font-size: medium;
    }
}

/*---------- MENU RESTAURANTS ------------*/
/* Toggle Styles */
#wrapper{
    min-height: 700px;
}

/* Drop down menu restaurant */
[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg) ;
    transition: all linear 0.25s;
    float: right;
}
[data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg) ;
}
#accordion a{
    color: #1d2124;
    text-decoration: none;
}
#accordion small{
    color: gray;
}
/*--- AJOUTER AU PANIER -------*/
.show-cart li {
    display: flex;
}
.card {
    margin-bottom: 20px;
}
.btn-panier{
    color: white;
    background-color: #ffc107;
    border-color: #ffc107;
}

/*------------ USER INTERFACE -------------*/
.bordure_verticale{
    height: 100%;
    border-left: 1px solid lightgray;
}
.bordure_verticale p{
    font-size: 12px;
}
.resume-menu{
    font-size: 10px;
}
.user-interface{
    min-height: 650px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #ffc107;
}

.user-interface a{
    color: #ffc107;
}

.user-interface a:hover{
    color: #ffc107;
}

/*-------------- INSCRIPTION / CONNEXION ----------------*/

/*inscription*/
.sign-up{
    min-height: 550px;
    margin-top: 8%;
}

/*connexion*/
.sign-in{
    min-height: 530px;
    margin-top: 10%;
}
/*connexion/ inscription*/
.submit{
    background: #ffc107;
    color: white;
    width: 50%;
    font-size: 1.25rem;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    margin: 2rem 25% ;
}

/*-------------- FOOTER ----------------*/

.mb-social{
    margin-bottom: 2.5rem;
}