
<nav class="navbar navbar-expand-lg navbar-success bg-success text-white">
    <div class="container">

    <a class="navbar-brand text-white" href="{{ path('index') }}">Fais Pas La Queue</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <a class="nav-link h6" href="{{ path('security_connexion') }}"><i class="fas fa-sign-in-alt"></i> Connexion </a>
            </li>
            <li  class="nav-item {% if active == 'inscription' %}active{% endif %}">
                <a class="nav-link h6"  href="{{ path('membre_inscription') }}">
                    <i class="far fa-edit"></i>Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h6" href="#">FAQ</a>
            </li>
            <li class="nav-item minicart ">
                <a class="nav-link  text-white h6" href="#">
                    <span class="badge badge-light">0,00 € <i class="fas fa-shopping-basket"></i></span>

                </a>

            </li>


        </ul>

    </div>
    </div>
</nav>